<!doctype html>
<html lang="en">
    <head>
        <title>Dead Rising 2 Recipe Finder</title>
        <meta charset="UTF-8" />
        <meta name="description" content="A tool for finding mixed drink recipes in Dead Rising 2." />
        <meta name="theme-color" content="#69aa4d" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            integrity="sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA=="
            rel="stylesheet"
        />
        <link rel="stylesheet" href="index.css" />
        <link rel="manifest" href="index.webmanifest" />
        <link rel="icon" href="images/meta/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="images/meta/192.png" />
    </head>
    <body>
        <div id="app" class="container-fluid">
            <div class="d-inline-block mx-2">
                <h1>Dead Rising 2<br />Recipe Finder</h1>
                <h2>Options</h2>
                <input type="checkbox" id="showUselessRecipes" v-model="showUselessRecipes" />
                <label for="showUselessRecipes">Show <abbr title="Where the output is one of the inputs.">useless</abbr> recipes</label>
            </div>
            <div class="d-inline-block mx-2 overflowSection">
                Filter by drink:
                <ul class="list-group">
                    <li class="list-group-item p-0" v-for="(_, drink) in drinkMap">
                        <button
                            :aria-pressed="selectedDrinks.has(drink) ? 'true' : 'false'"
                            autocomplete="off"
                            :class="`btn ${selectedDrinks.has(drink) ? 'btn-primary' : 'btn-light'}`"
                            data-bs-toggle="button"
                            type="button"
                            v-on:click="toggleDrinkSelection(drink)"
                        >
                            <item :name="drink" />
                        </button>
                    </li>
                </ul>
            </div>
            <div class="d-inline-block mx-2 overflowSection">
                Filter by ingredient:
                <ul class="list-group">
                    <li class="list-group-item p-0" v-for="(_, ingredient) in ingredientMap">
                        <button
                            :aria-pressed="selectedIngredients.has(ingredient) ? 'true' : 'false'"
                            autocomplete="off"
                            :class="`btn ${selectedIngredients.has(ingredient) ? 'btn-primary' : 'btn-light'}`"
                            data-bs-toggle="button"
                            type="button"
                            v-on:click="toggleIngredientSelection(ingredient)"
                        >
                            <item :name="ingredient" />
                        </button>
                    </li>
                </ul>
            </div>
            <div v-if="selectedDrinks.size == 0 && selectedIngredients.size == 0" class="d-inline-block">
                <!-- Nothing selected -->
                <div class="alert alert-info" role="alert">
                    Please select a drink or ingredient.
                </div>
            </div>
            <div v-else class="d-inline-block overflowSection">
                <table class="table overflowSection">
                    <thead>
                        <tr>
                            <th>Output</th>
                            <th colspan="2">Inputs</th>
                        </tr>
                    </thead>
                    <tbody v-if="selectedDrinks.size > 0">
                        <template v-if="selectedIngredients.size > 0">
                            <!-- At least 1 drink and 1 ingredient selected -->
                            <template v-for="drink in Array.from(selectedDrinks).sort()">
                                <template v-for="ingredient1 in Array.from(selectedIngredients).sort()">
                                    <recipe
                                        v-for="ingredient2 in drinkMap[drink][ingredient1]"
                                        :key="`${drink}-${ingredient1}-${ingredient2}`"
                                        :drink="drink"
                                        :ingredient1="ingredient1"
                                        :ingredient2="ingredient2"
                                        :show-useless-recipes="showUselessRecipes"
                                    />
                                </template>
                            </template>
                        </template>
                        <template v-else>
                            <!-- At least 1 drink and 1 ingredient selected -->
                            <template v-for="drink in Array.from(selectedDrinks).sort()">
                                <template v-for="(_, ingredient1) in drinkMap[drink]">
                                    <recipe
                                        v-for="ingredient2 in drinkMap[drink][ingredient1]"
                                        :key="`${drink}-${ingredient1}-${ingredient2}`"
                                        :drink="drink"
                                        :ingredient1="ingredient1"
                                        :ingredient2="ingredient2"
                                        :show-useless-recipes="showUselessRecipes"
                                    />
                                </template>
                            </template>
                        </template>
                    </tbody>
                    <tbody v-else>
                        <!-- At least 1 ingredient selected, but no drinks -->
                        <template v-for="ingredient1 in Array.from(selectedIngredients).sort()">
                            <recipe
                                v-for="(drink, ingredient2) in ingredientMap[ingredient1]"
                                :key="`${drink}-${ingredient1}-${ingredient2}`"
                                :drink="drink"
                                :ingredient1="ingredient1"
                                :ingredient2="ingredient2"
                                :show-useless-recipes="showUselessRecipes"
                            />
                        </template>
                    </tbody>
                </table>
            </div>
            <footer class="d-inline-block">
                <a
                    class="text-decoration-none"
                    href="https://github.com/dsinn/dead-rising-2-recipe-finder/issues/new"
                    target="_blank"
                >
                    Report a bug
                </a>
            </footer>
        </div>
        <script src="index.js"></script>
    </body>
</html>
